<template name='credentialForms'>


   <div class='loginDiv'>

      <h2> Log in to chat with others </h2>


      	<div><input type='text' name='username' placeholder='Username' class='loginUsername inputs' /></div>

      	<div><input type='password' name='password' placeholder='Password' class='loginPassword inputs' /></div>

         <div><button class='loginSubmit inputSubmit'> Log in </button></div>

   </div>


   <div class='registerDiv'>

   <h2> Create account </h2>


       <div><input type='text' name='username' placeholder='Username' class='registerUsername inputs' /></div>

       <div><input type='email' name='email' placeholder='Email' class='registerEmail inputs' /></div>

       <div><input type='password' name='password' placeholder='Password' class='registerPassword inputs' /> </div>

       <div><button class='registerSubmit inputSubmit'> Register </button></div>


   </div>

</template>
